@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", cursive;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root {
  --bg-color: #10101a;
  --main-color: #2fbf71;
  --2nd-main-color: #ffffffcc;
  --text-color: #fff;
  --big-font: 5rem;
  --h2-font: 1.9rem;
  --p-font: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 24px 14%;
  transition: 0.3s;
}

.logo {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

span {
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  /*margin-left: 50px;*/
}

.navbar a:hover {
  background: var(--main-color);
  transition: 0.3s;
}

#menu-icon {
  font-size: 28px;
  z-index: 1000;
  cursor: pointer;
  display: none;
}

section {
  padding: 120px 14%;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}

img {
  width: 460px;
  height: 460px;
  border: 1px solid var(--bg-color);
  border-radius: 50%;
}

.home-img img {
  max-width: 100%;
  width: 600px;
  height: auto;
}

.home-text h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}

.home-text h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}

.home-text h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.home-text p {
  max-width: 470px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: var(--2nd-main-color);
}

.btn {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.35s ease;
}

.btn:hover {
  background: #0b0b13;
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
}

.about-img img {
  max-width: 100%;
  width: 375px;
  height: 375px;
  margin: 45px 80px 0;
}

.about-text h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 90px;
  text-align: center;
}

.about-text h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: var(--h2-font);
  line-height: 1.3;
  max-width: 470px;
  margin-bottom: 2rem;
  margin-right: 200px;
}

.about-text p {
  max-width: 570px;
  font-size: var(--p-font);
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.8;
  color: var(--2nd-main-color);
}

.lang-img {
  margin-top: -2.1rem;
}

#html,
#css,
#js,
#git,
#github {
  width: 180px;
  height: 160px;
  border: none;
  padding: 30px 40px;
  margin: 0 -33px;
}

.center {
  text-align: center;
}

.center h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}

.work-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}

.row {
  background: #0b0b13;
  padding: 60px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.row i {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}

.row h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}

.row p {
  font-size: 18px;
  color: var(--2nd-main-color);
  line-height: 30px;
}

.row:hover {
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 70%);
}

.profile {
  background: #0b0b13;
  width: 100%;
  padding: 150px 0;
  text-align: center;
  margin: 100px auto;
}

.profile h3 {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.profile h5 {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.profile-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 3rem;
  align-items: center;
  margin-top: 4.4rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  grid-gap: 20px;
}

.card-content {
  background-color: #10101a;
  padding: 40px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 70%;
}

.card-content img {
  width: 100%;
  border-radius: 0;
  height: 400px;
}

.card-content h3 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

.card-content p {
  color: var(--2nd-main-color);
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 13px;
}

#content-1,
#content-2,
#content-3,
#content-4,
#content-5,
#content-6 {
  margin-bottom: 10px;
}

#content-1,
#content-4 {
  margin-left: 150px;
}

#content-3,
#content-6 {
  margin-left: 30px;
}

#content-2,
#content-5 {
  margin-left: 90px;
}

.card-content:hover {
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 70%);
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}

.contact-form form {
  position: relative;
  width: 550px;
}

.center h5 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: #0b0b13;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

form .basic-info {
  display: flex;
}

form .name {
  width: 62%;
}

form .email {
  width: 65%;
  margin-left: 15px;
}

textarea {
  resize: none;
  height: 300px;
}

form .submit-btn {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  margin-left: 50px;
}

form .submit-btn:hover {
  background: #0b0b13;
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

form .clear-btn {
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  margin-top: 10px;
  cursor: pointer;
  width: 30%;
  margin-left: 30px;
  margin-bottom: 50px;
}

form .clear-btn:hover {
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

hr {
  margin-bottom: 30px;
  border: 0.1px solid rgba(255, 255, 255, 0.466);
}

.socials h5 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a i {
  color: var(--2nd-main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 300;
  transition: all 0.3s ease;
}

.social-icons a i {
  margin: -10px 70px 30px;
}

.social-icons a i:hover {
  color: var(--text-color);
}

.copyright {
  text-align: center;
  padding: 30px;
  color: var(--2nd-main-color);
  background: #0b0b13;
  margin-top: 3rem;
  line-height: 1.8rem;
}

@media (max-width: 768px) {
  header {
    padding: 18px 3%;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
    text-align-last: left;
    transition: 0.2s ease;
  }

  .navbar a {
    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }

  .navbar.active {
    top: 100%;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    /*grid-template-columns: 1fr;
    grid-gap: 2rem; */
    text-align: center;
    margin-top: 80px;
    height: 100vh;
  }

  .home-text p {
    max-width: 100%;
  }

  .home-img img {
    width: 350px;
    height: auto;
  }

  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text h2 {
    max-width: 100%;
    margin: 0px;
  }

  .about-text p {
    max-width: 100%;
  }

  .lang-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  #content-1,
  #content-4 {
    margin-left: 110px;
  }

  #content-3,
  #content-6 {
    margin-left: 110px;
  }

  #content-2,
  #content-5 {
    margin-left: 110px;
  }

  .social-icons a i {
    margin: -10px 12px 30px;
    background: none;
  }

  form .clear-btn {
    margin-bottom: 100px;
  }
}

@media (max-width: 420px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }

  .home .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about {
    margin-top: -80px;
  }

  .about h3 {
    text-align: center;
    max-width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }

  .about h2 {
    text-align: center;
    line-height: 1.3;
    max-width: 100%;
    margin: 0px;
  }

  #intro {
    margin-top: 18px;
  }

  .lang-img {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }

  #html,
  #css,
  #js,
  #git,
  #github {
    width: 150px;
    height: 150px;
    border: none;
    padding: 40px 40px;
    margin: 0 -30px;
  }

  .work {
    align-items: center;
    margin-top: -80px;
  }

  .profile {
    width: 130%;
    padding: 30px 15px;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .card-content {
    margin-left: -20px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .card-content {
    width: 80%;
  }

  #content-1,
  #content-2,
  #content-3,
  #content-4,
  #content-5,
  #content-6 {
    margin-left: 34px;
  }

  form .submit-btn {
    margin-left: 20px;
  }

  form .clear-btn {
    margin-left: 13px;
    width: 40%;
  }
}
