#top .navbar ul {
  flex-direction: column;
}

#top .navbar ul li {
  padding: 0.2rem 1rem;
  color: #fff;
  border-bottom: 1px solid #444;
}

#top .navbar ul li a{
  padding: 0.5rem;
}



#top .showcase {
  display:block;
  padding: 2rem;
  margin: auto;
  width: 100%;
  height: 50rem
  
}

#top .showcase .showcase_contents {
  height: 100%;
  align-items: center;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.2;
}

#top .showcase img{
  border-radius: 50%;
  width: 60%;
  margin: auto;
  margin-top: 10rem;
  align-content: center;
  height: fit-content;
  text-align: center;
}

.m-heading{
  font-size: 2.1rem;
  line-height: 1.3;
}

#top .showcase .showcase_contents .l-heading{
  font-size: 2rem; 
}
/* section:work */
#work .work .work_text .m-heading{
  font-size: 2rem;
  line-height: 1.2;
}

#work .work .work_text p{
display: none;
}

#work .work .work-items {
  flex-direction: column;
  margin: 0rem; 
}

#portfolio .portfolio p{
  font-size:1.5rem ;
  text-align: justify;
}


#portfolio .portfolio .portfolio-items{
  display: block;
  padding: 2rem 0;
  margin: 0rem;
 
}

#portfolio .portfolio .portfolio-items .one,
#portfolio .portfolio .portfolio-items .three,
#portfolio .portfolio .portfolio-items .two {
  display: none;

}
#portfolio .portfolio .portfolio-items .portfolio-item{
max-height: 32rem;
}

#portfolio .portfolio .portfolio-items .portfolio-item a img {
  display: block;
  width: 100%;
  height: 10%;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) and (min-width: 767px){
  #top .showcase img{
    width: 48%;
    margin-top:9rem;
  }
  #top .showcase {
  height: 53rem
  }
  #portfolio .portfolio .portfolio-items{
    display: block;
    padding: 2rem 0;
    margin: 1rem;
   
  }
  #portfolio .portfolio .portfolio-items .portfolio-item a img {
    display: block;
    width: 100%;
    height: 350px;
    margin-top: 2rem;
  }

  #portfolio .portfolio .portfolio-items .portfolio-item{
    max-height: 42rem;
  }

  #work .work .work-items .work-item p {
  font-size: 1.6rem;  
  }
  
}

#portfolio .portfolio .portfolio-items .portfolio-item a h3 {
  padding: 0.2rem;
}

#portfolio .portfolio .portfolio-items .portfolio-item a p {
  padding: 1rem 2rem;

}

#contact .content .form-group .di-div{
  width: 88%;
}

#contact .content .logo i {
  margin: 0.3rem;
}